<header class="header">
    <!-- NAVIGATION -->
    <nav class="nav container">
      <div class="navigation d-flex">
        <div class="hamburger">
          <i class="bx bx-menu"></i>
        </div>
        <!--div class="logo">
          <h2>TIENDASPORTS</h2>
        </div-->
        <img src="./images/logo.jpg" class="logots">
        <div class="menu">
          <div class="top">
            <span class="close">close <i class="bx bx-x"></i></span>
          </div>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="../users/login.ejs" class="nav-link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="icons d-flex">
          <div><i class="bx bx-search"></i></div>
          <div><i class="bx bx-user"></i></div>
          <div><i class="bx bx-heart"></i></div>
          <div>
            <i  href="cart.html" class="bx bx-shopping-bag"></i>
            <span class="align-center">0</span>
          </div>
        </div>
      </div>
    </nav>

    <!-- Hero -->
    <div class="hero">
      <div class="hero-content d-flex container">
        <div class="left">
          <span class="subtitle">GET YOUR SPRING COLLECTION</span>
          <h1 class="title">
            Up to
            <span class="color">90% <br />
              Discount</span>
            on This <br />
            Christmas Days
          </h1>

          <h5>From 20th Dec to 31st Dec</h5>
          <a href="#" class="btn">SHOP NOW</a>
        </div>

        <div class="right">
          <img src=" " alt="" />
        </div>
      </div>
    </div>
  </header>